@import "spriting";
@import "assets";


body {
  background: #eee;

  font-family: "Helvetica Neue", sans-serif;

  line-height: 1.5;

  h1, h2, h3, h4 {
    font-style: italic;
  }
}


.cat-in-toilet {
  color: #ab9e89;
}


$cat-in-toilet-sprites: sprite-map('cat-in-toilet-sprites',
                              sprite-layout(horizontal, (spacing: 5px, alignment: bottom)),
                              'images/icons/plain.png',
                              'images/icons/fish.png',
                              'images/icons/scuba.png');


%icon-bg {
  // calling sprite-background generates the sprite map image
  @include sprite-background($cat-in-toilet-sprites);
}

.cat-in-toilet-icon {
  display: inline-block;
}


@each $icon in sprite-list($cat-in-toilet-sprites) {
  .cat-in-toilet-icon-#{sprite-identifier($cat-in-toilet-sprites, $icon)} {
    @extend %icon-bg;
    @include sprite-position($cat-in-toilet-sprites, $icon);
    // If all of your sprites are the same size, include sprite-dimensions() in %icon-bg
    @include sprite-dimensions($cat-in-toilet-sprites, $icon);
  }
}
