@import "spriting";
@import "assets";


body {
  background: #eee;

  h1, h2, h3, h4 {
    font-style: italic;
  }
}


.cat-in-toilet {
  color: #ab9e89;
}

// SPRITING CALLS REMOVED. CSS now compiles (run `ember serve` and view localhost:4200)
