<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

<div class="cat-in-toilet">

  <p>cat in toilet.</p>

  <p>This project is attempting to use <code>eyeglass-spriting</code> to show a few images of what cats <em>really</em> do when they stick their heads in the toilet, courtesy of

    <a href="<http://www.iconka.com">iconka.com</a>.
  </p>

  <p>However, currently the <code>sprite-demo.css</code> file won't compile (due to the spriting function calls in <code>app.scss</code>)</p>

</div>
