<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

<div class="cat-in-toilet">


  <p>This project is attempting to use <code>eyeglass-spriting</code> to show a few images of what cats <em>really</em> do when they stick their heads in the toilet, courtesy of

    <a href="<http://www.iconka.com">iconka.com</a>.
  </p>


  <p>
    What you see:
    <br>
    <span class="cat-in-toilet-icon cat-in-toilet-icon-plain"></span>
  </p>
  <p>
    What cat is doing:
    <br>
    <span class="cat-in-toilet-icon cat-in-toilet-icon-fish"></span>
  </p>
  <p>
    Or maybe:
    <br>
    <span class="cat-in-toilet-icon cat-in-toilet-icon-scuba"></span>
  </p>

</div>
